Когда пишешь код будь на 100% уверен, что ты не ломаешь ничего существующего.
Это приложение запускается на другом сервере, через Docker Compose, поэтому локально не нужно устанавливать пакеты
Также не нужно запускать сервер или Docker, нужно следить, чтобы на удаленном сервере при развертке приложения, должно устанавливаться всё что нужно.